/* style.css
 * This file provides css styles.
 */
body, html {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ffffff;
	background-color: #088A68;
}

a {
	text-decoration: none;
	color: #00aed1;
}

a:hover {
	text-decoration: underline;
}

.newappIcon {
	padding-top: 5%;
	display: block;
	margin: 0 auto;
	padding-bottom: 3%;
	max-width: 500px;

}

h1 {
	font-weight: bold;
	font-size: 2em;
}

.bang{
	font-family: 'Bangers', cursive;
	color: #ffffff;
}

.indie{
	font-family: "Josefin Sans",sans-serif;
font-size: 20px;
letter-spacing: 1px;
}

.description {
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	font-size: 1.2em;
	color: #ffffff;
}

pre {
	padding: 0;
	margin: 0;
}
