<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/static/stylesheets/style.css" />
	<title>Blab application index</title>
</head>
	<body style="background-color: #088A68;">
		<section id="contents" style="background-color: #088A68">
			<div>
				<h1 style="text-align: center;" id="message" class="bang">Blab</h1>
				<a href="/blab" style="margin-left: 40%;"> <img class="newappIcon" src="/static/images/gophercolor.png"></a>
				<!--<p class="description">In progress</p><br>-->
			</div>
		</section>
	</body>
</html>
